*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

## Archivos generados por scripts
*.ods
*.csv
*.pdf

# Archivos de compilación en C
*Makefile*
*.so
*.o

# Ignora el archivo seed
# El archivo seed lo estoy usando para guardar semillas
# que hacen que el fichero de test falle, especialmente cuando
# estos errores no son faciles de detectar.
seed

# YARD artifacts
.yardoc
_yardoc
doc/
